
/********************************nav templat*************************************/
@font-face{
  font-family: 'Lato';
  font-weight :300;
  src : url('../police/Lato/Lato-Light.ttf') format('truetype');
}
@font-face{
  font-family: 'Lato';
  font-weight :400;
  src : url('../police/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Kristi';
  font-weight :400;
  src : url('../police/Kristi/Kristi-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Roboto-Slab';
  font-weight :400;
  src : url('../police/Roboto-Slab/RobotoSlab-Regular.ttf') format('truetype');
}


body{
  font-family: 'Lato', sans-serif;
  /*background-color:#3BB77E*/;
  margin:0;
}
.hide{
  display:none;
}
.flex{
  display:flex;
}
.vert{
  color:#3BB77E;
}
.red{
  color:red;
}
.bold{
  font-weight:bold;
}
.btn{
  border:1px solid #3BB77E;
  background-color:white;
  color:#3BB77E;
  padding:10px;
  /*border-radius:5px;*/
  font-size:25px;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
  text-decoration:none;
  transition:all 500ms;
}
.btn:hover{
  background-color:#3BB77E;
  color:white;
  box-shadow:inset 0px 4px 14px -3px rgba(0,0,0,0.66);
}

header{
  position: sticky;
  top:0;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
  background-color:white;
  z-index:5;
}
#box-nav{
    display:flex;
    justify-content:space-between;
    margin:0;
}
/*main{
  width:90%;
  max-width:1400px;
  margin:auto;
}*/

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index:1000;
  top: 0;
  left: -70%;
  background-color:#3BB77E;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: grey;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
  z-index:1000;
  background-color:#3BB77E;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 50px;
  height: 10px;
  background-color: black;
  margin: 10px 0;
  background-color:#3BB77E;
}
#openBtn{
  padding-left:10px;
}

/*logo-nav*/
#logo-nav{
   height:60px; 
}
#bas-nav{
  margin-top:20px;
  display:block;
  width:100%;
  border-bottom:1px black solid;
}
.logo-user{
  color:#3BB77E;
  font-size:50px;
  margin:10px;
}
.liste_menu_desktop{
  display:none;
}
h1, h2{
 /* text-align:left;*/
 margin:10px auto;
 width:70%;
}
h1{
  font-size:30px;
  color:#3BB77E;
}
h2{
  font-size:28px;
}

/******************************page Home *************************************/

/****slide*****/
.swiper {
  height: 400px;
}
.swiper-button-next, .swiper-button-prev {
  display:none;
  margin-top:160px !important;
  color:#3BB77E !important;
}
.swiper-pagination-bullet{
  background-color:white!important;
  opacity:0.5 !important;
}
.swiper-pagination-bullet-active{
  background-color:#3BB77E !important;
}
.box-presentation{
  color:white;
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  height:400px;
  margin:auto;
  padding-bottom:20px;
  justify-content:space-around;
  position: relative;
  overflow: hidden;
  margin-bottom:50px;
  background-color:black;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
}
.box-presentation p:nth-child(1){
      margin-top: 26px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight:bold;
    width:70%;
}
.box-presentation p:nth-child(2){
  font-size:20px;
  width:70%;
  
}
.box-presentation p, .box-presentation .btn{
  /*position: relative;*/
    z-index: 2;
    margin-left:15%;
}
.box-presentation img{
  position: absolute;
  width:220%;
  opacity:0.5;
}
.box-presentation a {
  text-decoration:none;
  margin-bottom:20px;
  display:block;
  background-color:white;
  color:#3BB77E;
}

/***explication***/
.explixation{
  color:grey;
}
.txt-explication{
width:70%;
margin:auto;
}
.explication-draw{
  margin-top:50px;
  background-color:#3BB77E;
  color:white;
  width:100%;
  padding:20px 0 40px 0;
}
.explication-draw p{
  width:70%;
  margin:auto;
  text-align:center;
  margin-top:30px;
  font-weight:bold;
}
.explication-draw p i{
  font-size:30px;
}

/******new-pdt*******/

 
.section-new-pdt, .section-new-srv{
  background-color:white;
  margin-bottom:50px;
  padding:10px;
}


.section-new-pdt h2, .section-new-srv h2{
  font-size:20px;
  color:grey;
}
#box-new-produits, #box-new-services{
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  gap:10px
  
}
.card-new-p, .card-new-s{
  text-decoration:none;
  border-radius:5px;
  color:white;
  font-size:30px;
  margin-top:10px;
  width:70%;
  height:175px;
  position:relative;
  /*box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);*/
}
.card-new-p:hover img, .card-new-s:hover img{
transition:all 500ms;  
transform:scale(1.05);
}
.card-new-p{
  background-size:cover;
   overflow: hidden;
}
.card-new-p img, .card-new-s img{
width:200%;  
position:absolute;
}

.card-new-s{
  background-size:cover;
   overflow: hidden;
}
.card-new-s p, .card-new-p p{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-color:white;
  color:grey;
  position:relative;
  z-index:2;
  text-align:center;
  margin:auto;
  margin-top:130px;
  padding:5px;
  width:95%;
  font-size:20px;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
  opacity:0.9;
}






/*********************************page produits********************************/
/*****filtre******/
.box-filtre{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  gap:20px 5px;
  justify-content:space-around;
  text-align:center;
  background-color:white;
  padding:10px 0;
  border-radius:10px;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
  
}
.box-filtre .btn{
      font-size:20px;
}
/******aff produits*****/
.box-produits{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin:auto;
  margin-top:50px;
  gap:10px;
}
.card-produit{
  flex-wrap:wrap;
  width:45%;
  height:230px;
  border:4px white solid;
  border-radius:10px;
  overflow:hidden;
  background-color:white;
  text-decoration:none;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
}
  
.box-img-card-produit{
  overflow:hidden;
  width:100%;
  height:100px;
}
.box-img-card-produit img{
  width:150%;
}
.card-produit p:nth-child(2){
  margin:auto;
  display:block;
  width:95%;
  color:grey;
}




/************************page view**********************/
.box-presentation-view img{
  width:100%;
  border-radius:20px;
}
.form-contact-view{
  display:flex;
  flex-direction:column;
}


/********************************page login*********************************/
.form-connexion{
  display:flex;
  flex-direction:column;
  text-align:center;
  background-color:grey;
  color:white;
  height:250px;
  font-size:20px;
  border-radius:10px;
  padding:10px;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
  max-width:700px;
  margin:auto;
}

.form-inscription, .formUpdateUsers, .form-updade-pwd{
  display:flex;
  flex-direction:column;
  text-align:center;
  background-color:grey;
  color:white;
  /*height:550px;*/
  font-size:20px;
  border-radius:10px;
  padding:10px;
  box-shadow:0px 4px 14px -3px rgba(0,0,0,0.66);
  margin-bottom:50px;
  max-width:700px;
  margin:auto;
}
/*.form-connexion input, .form-inscription input{
  width:80%;
  height:30px;
  margin:auto;
  border-radius:10px;
  border:none;
}*/

.form-connexion .btn, .form-inscription .btn{
  width:50%;
  height:50px;
  margin:auto;
}
.h2-login{
  color:#3BB77E;
}
#contenu-login, #contenu-mail, #contenu-mail-updateInfos, #contenu-login-updateInfos{
  color:red;
}
/*********************************page messages*****************************/
.section-conv{
  display:flex;
  flex-direction:column;
  margin-bottom:50px;
}

.box-conv{
  background-color:white;
  margin:50px auto;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  order:2;
  padding-bottom:10px;
  border-radius:5px;
}
.box-conv a{
  border:1px grey solid;
  border-radius:5px;
  padding:10px;
  width:80%;
  margin:2px auto;
  text-decoration:none;
  color:grey;
  background-color:white;
  font-size:20px;
}
.box-conv h3{
  text-align:center;
}  
.container-show-conv{
  width:100%;
  background-color:white;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:500px;
  padding:0;
  order:1;
  margin:auto;
  border-radius:5px;
}
.container-show-conv ul{
  overflow-y:scroll;
}


.liste-bulle{
  padding:10px 10px 5px 10px;
  margin-bottom:0px;
  margin-top:0;
}

.message-conv{
  font-family:Roboto-Slab;
  border:1px grey solid;
  border-radius:20px 20px 20px 0;
  width:60%;
  list-style:none;
  padding:10px;
}
.rigth-message{
  border:1px #3BB77E solid;
   margin-left: 33%;
  background-color:#3BB77E;
  border-radius:20px 20px 0 20px;
  color:white;
}
 .liste-bulle li:last-child{
   border:none;
   width:100%;
   padding:0;
   position:sticky;
   bottom:0;
 }
.liste-bulle form{
   width:auto;
   min-height:50px;
   display:flex;
   justify-content:space-around;
    background-color:grey;
   padding:5px;
   margin-bottom:0;
   border-radius:5px;
 }
 
.liste-bulle form textarea{
  width:75%;
  border-radius:5px;
  padding:5px;
}
.liste-bulle form button{
   width:18%;
   
   border-radius:10px;
   color:#3BB77E;
   font-size:30px;
   border:1px #3BB77E solid;
   background-color:white;
}
.container-show-conv h3{
  width:auto;
  margin:0;
  padding:10px;
  height:20px;
  /*margin-top:10px;*/
  text-align:center;
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.51);
  z-index:1;
}
.date-msg{
  font-size:9px;
  color:grey;
}
.right-date{
  margin-left:68%;
}
/***************************page admin*************************************/
#tableau-admin{
  border:3px black solid;
  border-collapse: collapse;
  background-color:white;
  width:100%;
  font-size:0.4em;
  
}
#tableau-admin tr{
  border:2px black solid;
}
#tableau-admin td{
  padding:1px;
}
#tableau-admin tr:nth-child(odd){
  background-color:#dbdbdb;
}
/********************************page compte*****************************/
#container-a-compte{
  display:flex;
  flex-direction:column;
  gap:10px 0;
}

/**************************media query**************************************/
/*****************media query tablette******************/
@media all and (min-width: 600px) and (max-width: 1024px){
  /********************template tablette******************************/
   h1{
    font-size:60px;
  }
  h2{
    font-size:40px;
  }
  .sidenav {
  width: 50%;
  }
/*************************page Home tablette************************/
/******$slide******/
.box-presentation img{
  width:100%;
 
}
/***section new pdt /srv*****/
  .card-new-p img, .card-new-s img{
width:150%;  
}
/*************************page produit/service tablette*************/
.box-filtre .btn{
      font-size:40px;
}
.card-produit, .card-service{
  height:350px;
}
.box-img-card-produit, .box-img-card-service{
  height:200px;
}
.card-produit p:nth-child(2), .card-service p:nth-child(2) {
  font-size:20px;
  margin-left:20px;
}
/**********************page message********************************/
.rigth-message{
  margin-left: 37%;
}
.right-date{
  margin-left:83%;
}
}

/********************************media query desktop************************/
@media all and (min-width:1024px) {
  h1{
    font-size:70px;
  }
  h2{
    font-size:50px;
  }
  /********************template desktop******************************/
.sidenav {
  width: 30%;
}
.liste_menu_desktop{
  display:flex;
  justify-content:space-around;
  list-style:none;
  padding-left:0;
  width:80%;
  margin-top:20px;
}
.liste_menu_desktop a{
  text-decoration:none;
  font-weight:bold;
  color:#3BB77E;
  font-size:20px;
}
.liste_menu_desktop li{
  transition:all 500ms;
}
.liste_menu_desktop li:hover{
  transform:scale(1.1);
}

#openBtn{
  display:none;
}
.logo-compte{
  display:none;
}
/******************************page Home desktop***************************/
/******$slide******/
.box-presentation img{
  width:100%;
}
.box-presentation p:nth-child(1){
    font-size: 50px;
}
.box-presentation p:nth-child(2){
    font-size: 30px;
}
.section-new-pdt h2, .section-new-srv h2{
  font-size:40px;
color:grey;
}
  /**************section new pdt /srv***************/
.card-new-p, .card-new-s{
  width:23%;
}
.card-new-p img, .card-new-s img{
width:130%;  
}
.card-new-s p, .card-new-p p{
  font-size:25px;
}
.section-new-pdt, .section-new-srv{
  padding-bottom:30px;
}
.section-new-pdt .btn, .section-new-srv .btn{
  margin-top:30px;
}
/*************************page produit/service desktop*********************/
.box-filtre .btn{
      font-size:50px;
}
.box-filtre{
  padding:20px 0;
  
}
.card-produit, .card-service{
  width:22%;
  height:350px;
}
.card-produit:hover, .card-service:hover{
transition:all 500ms;
transform:scale(1.05);
border:6px /*#3BB77E*/ white solid;
}
.box-img-card-produit, .box-img-card-service{
  height:200px;
}
.card-produit p:nth-child(2), .card-service p:nth-child(2) {
  font-size:20px;
  margin-left:20px;
}

/*********************************page message desktop********************************/
.section-conv{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-bottom:50px;
}

.box-conv{
  width:35%;
  height:505px;
  order:1;
  overflow-y:scroll;
}
.container-show-conv{
  width:60%;
  height:515px;
  order:2;
}
.rigth-message{
  margin-left: 47%;
  background-color:#3BB77E;
  color:white;
}
.liste-bulle{
  margin-bottom:0;
}
.liste-bulle li{
  width:50%;
  list-style:none;
  padding:10px;
}
 .liste-bulle li:last-child{
   border:none;
   width:100%;
   padding:0;
   position:sticky;
   bottom:0;
 }
 .liste-bulle form{
   width:auto;
   height:50px;
   display:flex;
   justify-content:space-around;
   background-color:grey;
   padding:5px;
 }
.liste-bulle form textarea{
  width:78%;
  border-radius:10px;
  padding:5px;
}
.liste-bulle form button{
  width:18%;
   border-radius:10px;
   color:#3BB77E;
   font-size:30px;
   border:1px #3BB77E solid;
   background-color:white;
}  
.right-date{
  margin-left:83%;
}
/***************************page admin desktop*************************************/
#tableau-admin{
  font-size:1em;
}
#tableau-admin tr{
  border:2px black solid;
}
#tableau-admin td{
  padding:5px;
}




}

